<h2 class="title">{{ companyCode ? "Edit Company" : "New Company" }}</h2>
<form [formGroup]="editForm!" (ngSubmit)="onSubmit()">
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Company Code</mat-label>
        <input
            matInput
            type="text"
            placeholder="Ex: TITAN"
            autocomplete="off"
            formControlName="companyCode"
            required
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Sector Code</mat-label>
        <input
            matInput
            type="text"
            placeholder="Ex: GEMS"
            autocomplete="off"
            formControlName="sectorCode"
            required
        />
    </mat-form-field>

    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Name</mat-label>
        <input
            matInput
            type="text"
            placeholder="Name"
            autocomplete="off"
            formControlName="name"
            required
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
            matInput
            type="text"
            placeholder="Description"
            autocomplete="off"
            formControlName="description"
        ></textarea>
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Turnover</mat-label>
        <input
            matInput
            type="text"
            placeholder="100K"
            autocomplete="off"
            formControlName="turnover"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>CEO</mat-label>
        <input
            matInput
            type="text"
            placeholder="Name"
            autocomplete="off"
            formControlName="ceo"
        />
    </mat-form-field>
</form>

<form [formGroup]="tickerForm!" (ngSubmit)="onSubmit()">
    <h4>Listings</h4>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Ticker 1</mat-label>
        <input
            matInput
            type="text"
            placeholder="Ticker Symbol"
            autocomplete="off"
            formControlName="ticker1"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Ticker 2</mat-label>
        <input
            matInput
            type="text"
            placeholder="Ticker Symbol"
            autocomplete="off"
            formControlName="ticker2"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Ticker 3</mat-label>
        <input
            matInput
            type="text"
            placeholder="Ticker Symbol"
            autocomplete="off"
            formControlName="ticker3"
        />
    </mat-form-field>

    <button mat-raised-button class="submit-button">
        {{ companyCode !== null ? "Update" : "Create" }}
    </button>
</form>
