# angular generated
/StockMarket.WebClient/dist/
/StockMarket.WebClient/node_modules/

# dotnet generated
/StockMarket.*.Api/bin/
/StockMarket.*.Api/obj/
/StockMarket.*.Api/Migrations/
/StockMarket.*.Test/bin/
/StockMarket.*.Test/obj/

# log files
/.logs/

# local database
/.data/

# editor files
/**/.vscode/

# system files
.DS_Store
Thumbs.db
