# angular generated
/src/StockMarket.WebClient/dist/
/src/StockMarket.WebClient/node_modules/

# dotnet generated
/src/StockMarket.*.Api/bin/
/src/StockMarket.*.Api/obj/
/src/StockMarket.*.Api/Migrations/
/src/StockMarket.*.Test/bin/
/src/StockMarket.*.Test/obj/

# log files
/.logs/

# editor files
/**/.vscode/

# system files
.DS_Store
Thumbs.db
