# angular generated
/StockMarket.WebClient/dist/
/StockMarket.WebClient/node_modules/

# dotnet generated
/StockMarket.*.Api/bin/
/StockMarket.*.Api/obj/
/StockMarket.*.Api/Migrations/

# editor files
/**/.vscode/

# system files
.DS_Store
Thumbs.db
