<mat-card id="form-card">
    <mat-card-title id="form-card-title">Login</mat-card-title>
    <mat-card-content id="form-card-content">
        <form id="form-main" [formGroup]="loginForm!" (ngSubmit)="onSubmit()">
            <mat-error id="form-submit-error" *ngIf="formError">
                {{ formError }}
            </mat-error>
            <mat-form-field
                class="form-field"
                hideRequiredMarker
                appearance="outline"
            >
                <mat-label>Username</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="username"
                    autocomplete="off"
                    formControlName="username"
                    required
                />
            </mat-form-field>
            <mat-form-field
                class="form-field"
                hideRequiredMarker
                appearance="outline"
            >
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    placeholder="password"
                    formControlName="password"
                    required
                />
            </mat-form-field>
            <div id="forgot-password-help">
                <a routerLink="/account/reset" id="forgot-password-link">
                    Forgot Password?
                </a>
            </div>
            <button
                mat-raised-button
                color="primary"
                id="submit-button"
                [disabled]="formLoading"
            >
                Login
            </button>
            <div id="register-help">
                Don't have an account?
                <a routerLink="/account/register" id="register-link">
                    Register
                </a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
