<h2 class="title">{{ exchangeCode ? "Edit Exchange" : "New Exchange" }}</h2>
<form [formGroup]="editForm!" (ngSubmit)="onSubmit()">
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Exchange Code</mat-label>
        <input
            matInput
            type="text"
            placeholder="Ex: IS"
            autocomplete="off"
            formControlName="exchangeCode"
            required
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Country Code</mat-label>
        <input
            matInput
            type="text"
            placeholder="Ex: IN"
            autocomplete="off"
            formControlName="countryCode"
            required
        />
    </mat-form-field>

    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Name</mat-label>
        <input
            matInput
            type="text"
            placeholder="Name"
            autocomplete="off"
            formControlName="name"
            required
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
            matInput
            type="text"
            placeholder="Description"
            autocomplete="off"
            formControlName="description"
        ></textarea>
    </mat-form-field>

    <h4 class="section">Address</h4>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Line 1</mat-label>
        <input
            matInput
            type="text"
            placeholder="House No, Street"
            autocomplete="off"
            formControlName="address_line1"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Line 2</mat-label>
        <input
            matInput
            type="text"
            placeholder="Area"
            autocomplete="off"
            formControlName="address_line2"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>City</mat-label>
        <input
            matInput
            type="text"
            placeholder="City"
            autocomplete="off"
            formControlName="address_city"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>State</mat-label>
        <input
            matInput
            type="text"
            placeholder="State"
            autocomplete="off"
            formControlName="address_state"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Country</mat-label>
        <input
            matInput
            type="text"
            placeholder="Country"
            autocomplete="off"
            formControlName="address_country"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input
            matInput
            type="text"
            placeholder="9876543210"
            autocomplete="off"
            formControlName="address_phone"
        />
    </mat-form-field>
    <mat-form-field hideRequiredMarker appearance="outline">
        <mat-label>Email</mat-label>
        <input
            matInput
            type="text"
            placeholder="something@example.com"
            autocomplete="off"
            formControlName="address_email"
        />
    </mat-form-field>

    <button mat-raised-button class="submit-button">
        {{ exchangeCode ? "Update" : "Create" }}
    </button>
</form>
