mat-toolbar {
    height: 60px;
    box-shadow: 0px 0px 15px grey;
    background-color: #333;
    /* background: linear-gradient(90deg, #cc0000 0%, #da9000 100%); */
    position: relative;
    z-index: 99;
}

.logo {
    margin: 0 10px 0 10px;
}

.flex-spacer {
    flex: 1 1 auto;
}

#login-button {
    color: white;
}

#register-button {
    color: white;
    border-color: white;
}
