<mat-card id="form-card">
    <mat-card-title id="form-card-title">Register</mat-card-title>
    <mat-card-content id="form-card-content">
        <form
            id="form-main"
            [formGroup]="registerForm!"
            (ngSubmit)="onSubmit()"
        >
            <mat-error id="form-submit-error" *ngIf="formError">
                {{ formError }}
            </mat-error>
            <mat-form-field
                class="form-field"
                hideRequiredMarker
                appearance="outline"
            >
                <mat-label>Email</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="user@example.com"
                    autocomplete="off"
                    formControlName="email"
                    required
                />
                <mat-error *ngIf="email!.errors?.required">
                    Email is required
                </mat-error>
                <mat-error *ngIf="email!.errors?.email">
                    Email must be valid
                </mat-error>
            </mat-form-field>
            <mat-form-field
                class="form-field"
                hideRequiredMarker
                appearance="outline"
            >
                <mat-label>Username</mat-label>
                <input
                    matInput
                    type="text"
                    placeholder="username"
                    autocomplete="off"
                    formControlName="username"
                    required
                />
                <mat-error *ngIf="username!.errors?.required">
                    Username is required
                </mat-error>
                <mat-error *ngIf="username!.errors?.pattern">
                    Username cannot contain special characters
                </mat-error>
                <mat-error *ngIf="username!.errors?.minlength">
                    Username must contain at least 6 characters
                </mat-error>
                <mat-error *ngIf="username!.errors?.maxlength">
                    Username cannot contain over 20 characters
                </mat-error>
            </mat-form-field>
            <mat-form-field
                class="form-field"
                hideRequiredMarker
                appearance="outline"
            >
                <mat-label>Password</mat-label>
                <input
                    matInput
                    type="password"
                    placeholder="password"
                    formControlName="password"
                    required
                />
                <mat-error *ngIf="password!.errors?.required">
                    Password is required
                </mat-error>
                <mat-error *ngIf="password!.errors?.minlength">
                    Password must contain at least 8 characters
                </mat-error>
                <mat-error *ngIf="password!.errors?.maxlength">
                    Password cannot contain over 20 characters
                </mat-error>
                <mat-error *ngIf="password!.errors?.password">
                    Password is not strong enough
                </mat-error>
            </mat-form-field>
            <mat-form-field
                class="form-field"
                hideRequiredMarker
                appearance="outline"
            >
                <mat-label>Confirm Password</mat-label>
                <input
                    matInput
                    type="password"
                    placeholder="password"
                    formControlName="passwordConfirm"
                    required
                />
                <mat-error *ngIf="passwordConfirm!.errors?.match">
                    Passwords must match
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" id="submit-button">
                Create Account
            </button>
            <div id="login-help">
                Already have an account?
                <a routerLink="/account/login" id="login-link">Log in</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>
