mat-card {
    max-width: 400px;
    margin: 70px auto;
    text-align: center;
}

mat-card-title {
    padding: 20px 0px;
    margin: 0px;
}

mat-form-field {
    display: block;
    margin: 8px auto;
}

form {
    padding: 10px 30px;
}

#forgot-password-help {
    margin-top: -5px;
    margin-bottom: 20px;
    padding-left: 5px;
    text-align: left;
}

#forgot-password-link {
    color: grey;
    font-size: 13px;
    text-decoration: none;
}

#register-help {
    margin: 30px 0px 10px 0px;
    color: grey;
    font-size: 13px;
}

#register-link {
    color: #00a2ff;
    font-size: 13px;
    text-decoration: none;
}

.submit-button {
    display: block;
    width: 100%;
    text-transform: uppercase;
    margin: 10px 0px;
}
